@charset "utf-8";

html,
body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

.wrap {
    width: 400px;
    height: 600px;
    background: linear-gradient(90deg, rgba(208,206,236,1) 0%, rgba(230,211,241,1) 35%, rgba(152,211,246,1) 56%, rgba(226,236,238,1) 100%);
    border-radius: 20px;
    margin: auto;
    position: relative;
    margin-top: 30px;
    box-shadow: 10px 11px 5px -1px rgba(0,0,0,0.25);
}

.container {
    width: 90%;
    height: 90%;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.header {
    color: #494949;
    font-size: 1rem;
    text-align: center;
}

.list_wrap {
    height: 420px;
    overflow-y: auto;
    padding: 20px 20px 20px 30px;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.list_wrap li {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

li button {
    margin-left: 10px;
}

.add_wrap {
    display: flex;
    align-items: center;
}

.add_wrap input {
    width: 100%;
    height: 30px;
    border: 1px solid #929292;
    font-size: 1.2rem;
}

.add_wrap button {
    width: 100px;
    height: 30px;
    background-color: #929292;
    color: #fff;
    outline: none;
    border: none;
}